<md-toolbar style="background-color: #1A5276">
  <h3>
     <center>CHAT BOX</center>
  </h3>
</md-toolbar>

  <div ng-controller="friend-list">

<section layout="row" style="height: 100%" flex>
<md-sidenav 
    class="md-sidenav-left" 
    md-component-id="left" 
    md-whiteframe="3" 
    md-is-locked-open="$mdMedia('gt-md')"
    style="max-height:100%;height:webkit-fill-available;">

<md-toolbar class="md-theme-indigo" style="background-color:#00838F;">
  <div class="md-toolbar-tools">
     <p>{{owner}}</p>
     <md-button ng-click="toggleLeft()" class="md-icon-button" style="background-color: #00838F;border-radius: 6px;position: absolute;right: 20px" hide-gt-md>
      <md-icon style="color: white">keyboard_arrow_left</md-icon>
    </md-button>
  </div>
</md-toolbar>  
<md-content>
  <md-list flex>
     <md-list-item class="md-2-line"  ng-click="user2(x);toggleLeft()" ng-repeat="x in list | filter: search_friend   track by $index">
        <div class="md-list-item-text"  >
            <span>{{x.email}}</span>
       </div>
      <md-divider style="width: 100%"></md-divider>
      </md-list-item>
      <md-divider style="width: 100%"></md-divider>
  </md-list>
</md-content>
</md-sidenav> 

<!-- <div>
<md-toolbar style="background-color:#2980B9">
  <h4><center>{{selected.email}}</center></h4>
  </md-toolbar>
</div> -->
<div layout="column" flex>  
      <md-toolbar class="md-theme-indigo"  style="background-color:#2980B9">
        <div class="md-toolbar-tools">
            <md-button ng-click="user2();toggleLeft()"class="md-icon-button" style="background-color: #00838F;" hide-gt-md>
                <md-icon style="color:black">keyboard_arrow_right</md-icon>
              </md-button>
        <p>{{selected.email}}</p>
        </div> 
      </md-toolbar>
     
      
      <!-- <div layout="column"  layout-align="start end" flex>        -->
        <div style="height:76vh; overflow-y:scroll;"> 
        <md-content>
        <div class="chats" > 
         <div layout="column">
            <div>
            <div layout="column"  layout-align="start center" flex>
              <div ng-repeat="x in chat| orderBy:'-' track by $index" ng-class="owner != x.sender ? 'receiver': 'sender'"> 
              <div >
               {{x.text}}
              </div>
              </div>
            </div>            
          </div>
         </div>
        </div>
      </md-content>
      </div> 
      <!-- </div> -->



 <!-- <div layout="column"  layout-align="start center" flex> -->
    <footer>
        <div class="msg_type">
          <form action="postdata(text)">
          <div layout layout-align="start center" >
            <div class="message-input" layout layout-align="start center" >
              <input class="input-box" ng-model="text" type="text" name="input" placeholder="Type a message.." autocomplete="off" autofocus></input>
              </div>
              <md-button type="submit" fab-button ng-click="postdata(text, $event); text=''">
                <md-icon style="color:black">send</md-icon>
              </md-button> 
            </div>
          </form>
          </div>
      </footer>
<!-- </div>  -->
</div>
</section> 
</div>