<md-toolbar style="background-color: #1A5276">
  <h3>
     <center>CHAT BOX</center>
  </h3>
</md-toolbar>
<!-- sidnav header  -->
<div layout="column" style="height: 100%"  ng-controller="friend-list">
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left"
     md-disable-backdrop="" md-whiteframe="4" md-is-locked-open="true" style="max-height:100%; overflow-x: hidden; background-color: white; width:25%;height:-webkit-fill-available;">
      <md-toolbar style="background-color:#2980B9">
       <h4><center>{{user.email}}</center></h4>
      </md-toolbar>
        <md-content>
          <md-list flex>
             <md-list-item class="md-2-line"  ng-click="user2(x)" ng-repeat="x in list | filter: search_friend   track by $index">
                <div class="md-list-item-text">
                    <span>{{x.email}}</span> 
               </div>
              </md-list-item><md-divider style="width: 100%"></md-divider>
          </md-list>
        </md-content>
    </md-sidenav>	
<!-- sidenav headeer end -->
<!-- Chat list -->
    <div class="msg" >
    	<div class="msghd">  
    		<md-toolbar style="width: 100%;background-color:#2980B9">
          <h4><center>{{selected.email}}</center></h4>
        </md-toolbar>
      </div>
        <md-content>
          <div class="chats" > 
           <div layout="column">
            <div style="height: 82.8vh;overflow-y: scroll;">
              <div ng-repeat="x in data">    
                <div class="receiver">
                 {{x.sender}}
                </div>
                  <div class="sender">
                  {{x.text}}
                </div>
              </div>            
            </div>
           </div>
          </div>
        </md-content>
 <!-- Chat list end -->
<!-- Input Mesage Bar -->
      <div>
      <footer>
        <div class="msg_type">
          <div layout layout-align="start center" >
            <div class="message-input" layout layout-align="start center" >
              <input class="input-box" ng-model="text"  ng-model="selected" type="text" name="input" placeholder="Type a message.." autocomplete="off" ng-model="msg" autofocus></input>
              <button fab-button ng-click="postdata(text, selected)" ng-click="msg=''">SEND</button> 
            </div>
          </div>
        </div>
      </footer>
    </div>
    </div> 
  </section>
</div>
<!-- Input Mesage Bar -->
