<md-toolbar style="background-color: #1A5276">
  <h3>
     <center>CHAT BOX</center>
  </h3>
</md-toolbar>
<!-- sidnav header  -->

  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left"
     md-disable-backdrop="" md-whiteframe="2" md-is-locked-open="$mdMedia('gt-md" style="max-height:100%; overflow: hidden; background-color: white; width:25%;height:-webkit-fill-available;">
   <md-toolbar class="md-theme-indigo" style="background-color:#00838F;">
          <div class="md-toolbar-tools" style="padding:14px 0;">
          <div class="dropdown">
                <md-button onclick="myFunction()" class="md-icon-button">
              </md-button> 
            </div>
            <p>{{message.sender}}</p>
            <md-button ng-click="toggleLeft()" class="md-icon-button" style="background-color: #00838F;border-radius: 6px;position: absolute;right: 20px" hide-gt-md>
            <md-icon style="color: white">keyboard_backspace</md-icon>
          </md-button>
          </div>
      </md-toolbar>
        <md-content>
          <md-list style="max-height: 100%;height:-webkit-fill-available"flex>
             <md-list-item class="md-2-line"  ng-click="user2(x)" ng-repeat="x in list | filter: search_friend   track by $index">
                <div class="md-list-item-text">
                    <span>{{x.email}}</span> 
               </div>
              </md-list-item><md-divider style="width: 100%"></md-divider>
          </md-list>
        </md-content>
    </md-sidenav>	
<!-- sidenav headeer end -->
<!-- Chat list -->
       <div layout="column"  flex>
          <md-toolbar class="md-theme-indigo" style="width:100%;
      background-color:#00838F;">
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleLeft()"class="md-icon-button" style="background-color: #00838F;border-radius: 6px;" hide-gt-md>
        
          </md-button>
          <div hide-gt-md>
        </div>
      </md-toolbar>
         <md-content>
          <md-list style="max-height: 83vh;height:-webkit-fill-available"flex>
        <div layout="column" layout-align="end center">
          <div ng-repeat="x in oldChat | orderBy:'-' track by $index" ng-class="selected.key == x.user2_key ? 'sending' : 'receiving'" >
              <div>
                <p style="line-height: 1.0;">{{x.content}}</p>
              </div>
            </div>
            <br>
          </div>
        </md-list>
      </md-content>
           <div class="footer">
                <div class="msg_type" ng-controller="sendtext" >
                  <div layout layout-align="start center">
                    <div class="message-input" layout layout-align="start center">
                      <input class="input-box" type="text" name="input" placeholder="Type a message.." autocomplete="off" autofocus ng-model="typetext" ></input>
                      <button>send</button>
                    </div>
                  </div>
              </div>
        </div>     
        <!-- </div>   -->
  </section>
 <!-- Chat list end -->
<!-- Input Mesage Bar -->
     

