/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
 
 .sidenav{
 	height: 100%;
 	width: 100%;
 }

 .msg_type{
  width: 100%;
  padding: 11px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;

}
 footer{
 	position: fixed;
 	width: 75%;
 	/* bottom: 14px; */
 }
 .message-input{
   
 	padding: 11px;
 	margin-left: 10px; 
 	width: 95%;
 }
 .input-box{
 	background:whitesmoke;
 	width: 95%;
 }
 .receiver {
  word-break: break-all;
  height: auto;
  display: flex;
  max-width: 50%;
  width: max-content;
  border: 0.5px solid #dedede;
  background-color: grey;
  border-radius: 10px;
  margin-top: 9px;
  margin-left: 80px;
  padding-left: 12px;
  padding-bottom:5px;
  padding-top: 2px;
  padding-right: 12px;
}
.sender {

  word-break: break-all;
  max-width: 50%;
  width: max-content;
  margin-right: 80px;
  margin-left: auto;
  border: 0.5px solid #dedede;
  background-color: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 12px;
  padding-bottom: 5px;
  padding-top: 2px;
}